<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('layout/head') %>
  <title>INICIO - CURP MEX</title>
  <body>
    <!-- header -->
    <%- include('layout/header') %>
    <!-- body -->
    <%- include('components/generador') %>
    <!-- footer -->
    <%- include('layout/footer') %>
    <!-- scripts -->
    <%- include('layout/scripts') %>
  </body>
</html>
